<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://fglicpdfgenerate.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/f6d00d57-da04-4a1b-a625-8dfb42fa6af3/resourceGroups/FISS/providers/Microsoft.Web/sites/fglicpdfgenerate</ResourceId>
    <UserName>$fglicpdfgenerate</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://fglicpdfgenerate.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>